READ_MODE = "{{ read.value }}"

### test/real data as raw string ...
TEST_DATA_2 = TEST_DATA_1 = """
"""

### ... or file (store file under `DATA_DIR`)
{% if input.value == 'file' %}
REAL_DATA_2 = REAL_DATA_1 = "{{ year }}_{{ day }}.txt"
{% else %}
REAL_DATA_2 = REAL_DATA_1 = """
"""
{% endif %}

def exo1(data: {{ read.data_type() }}) -> int:
    return 0

def exo2(data: {{ read.data_type() }}) -> int:
    return 0

settings = (
    {
        'read_mode': READ_MODE,
        'test_data': {
            'type': 'raw',
            'from': TEST_DATA_1,
            'expected': 0,
        },
        'real_data': {
            'type': '{{ input.value }}',
            'from': REAL_DATA_1,
        },
        'runner': exo1,
    },
    {
        'read_mode': READ_MODE,
        'test_data': {
            'type': 'raw',
            'from': TEST_DATA_2,
            'expected': 0,
        },
        'real_data': {
            'type': '{{ input.value }}',
            'from': REAL_DATA_2,
        },
        'runner': exo2,
    },
)
